  <% if current_user %>
    <%= render 'shared/nav/sidebar/cohorts_menu' %>
    <li>
      <%= link_to '<i class="fa fa-calendar"></i><span>My Itinerary </span>'.html_safe, my_itinerary_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-envelope"></i><span>Mail </span>'.html_safe, conversations_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-linode"></i><span>My Events </span>'.html_safe, my_events_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-photo"></i><span>My Gallery </span>'.html_safe, my_photos_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-plane"></i><span>My Side Trips </span>'.html_safe, my_sidetrips_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-home"></i><span>My Apartments </span>'.html_safe, my_housings_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-life-ring"></i><span>My Tickets </span>'.html_safe, tickets_path %>
    </li>
  <% end %>
