<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Who Would You Like To Invite To The Group:</h2>
    <p class="lead"></p>
  </div>
</div>

<div class='container'>
  <%= form_tag("/invites/new/#{current_user.id}", method: "post") do %>
    <div class='form-group'>
    <%= label_tag :invite_email_address %>
    <%= text_field_tag :invite_email_address, nil, class: 'form-control' %>
    </div>
    <br/>
     <%= label_tag :Group %>
        <%= select_tag 'cohort_id', options_for_select(
          current_user.cohorts.map {|c| [c.name, c.id]}),
        {:multiple => false, class: 'form-control'}%>
    <br/>
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
