<div class='row'>
  <%= form_tag("/housings/#{@housing.id}/tags", method: "post") do %>
    <ul>
    <% Tag.housing_tags.each do |tag|%>
      <li>
        <% if @housing.tags.include?(tag)%>
          <%= check_box_tag(tag.name, tag.name, true) %>
        <% else %>
          <%= check_box_tag(tag.name) %>
        <% end %>
        <%= label_tag(tag.name, tag.name) %>
      </li>
    <% end %>
    </ul>
    <%= submit_tag("Update Housing") %>
  <% end %>
</div>
