<div class="box">
  <div class="box-header">
    <h3 class="box-title">Cohorts for <%= @current_user.organization.name %></h3>
    <%= link_to 'New Cohort', new_cohort_path, class: 'btn btn-primary pull-right' %>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tbody><tr>
        <th >Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>View</th>
      </tr>
      <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.description %></td>
        <td><%= link_to 'Show', cohort, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort), class: 'btn btn-warning' %></td>
      </tr>
      <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
</div>
