<section class="content">

<hr>
<div class="row">
  <div class="col-md-3">

    <!-- Profile Image -->
    <%= render 'cohorts/partials/cohort_details_box'%>
    <!-- /.box -->

    <!-- About Me Box -->
    <div class="box box-primary">

    </div>
    <ul class="nav cohort-links flex-column">
      <li class="nav-item">
        <%= link_to "Announcements", cohort_announcements_path(@cohort), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Itinerary", '/my-itinerary', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Housing</a>
      </li>
      <li class="nav-item">
        <%= link_to "Tracks",  tracks_path , class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Side Trips", cohort_side_trips_path(@cohort), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Gallery", cohort_list_photos_path(@cohort), class: 'nav-link' %>
      </li>
    </ul>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>
        <li class=""><a href="#photos" data-toggle="tab" aria-expanded="false">Photos</a></li>
        <li class=""><a href="#events" data-toggle="tab" aria-expanded="false">Events</a></li>
        <li class=""><a href="#members" data-toggle="tab" aria-expanded="false">Members</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="activity">
          <%= render 'posts/form'%>
          <div class='text-left' style="background-color: white">
          <%= render 'posts/feed'%>
          </div>
        </div>
        <div class="tab-pane" id="photos">
          <%= link_to "Add", new_user_photo_path(current_user), class: 'nav-link' %>
          <div class='row'>
            <% @cohort.photos.each do |photo|%>
              <div class='col-md-4'>
                <%= link_to photo do %>
                  <%= image_tag photo.picture, style: 'width:100%; max-height:150px; object-fit: scale-down;' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="events">
          <%= link_to "Add Event", cohort_new_event_path(@cohort), class: 'btn btn-warning btn-block' %>
          <%= render '/cohorts/cohort_events_widget' %>
        </div>
        <div class="tab-pane" id="members">
          <h3> Memebers </h3>
          <%= render '/cohorts/cohort_user_list' %>
        </div>
    </div>
  </div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>

