<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :track_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :track_description, class: 'form-control' %>
  </div>

  <div class="field">
    <% if @track.location.nil? %>
          <% city = 0 %>
        <% else %>
          <% city = @track.location.id %>
        <% end%>
        <%= form.label :city %>
        <%= form.select 'location_id', options_for_select(
          Location.where(location_type: 'city').map {|c| [c.name, c.id]},
        city), {},
        {:multiple => false, class: 'form-control'}%>
  </div>

  <div class="field">
    <%= form.label :cohort_id %>
    <%= form.select 'cohort_id', options_for_select(
        Cohort.where(organization: current_user.organization).map {|o| [o.name, o.id]}, nil),{},
      {:multiple => false, class: 'form-control'} %>
  </div>

  <div class="actions">
    <br/>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
