<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3"><%= @side_trip.title %></h1>
    <p class="lead">
      <%= @side_trip.start_date.to_time.strftime('%A %b %Y') %>
      -
      <%= @side_trip.end_date.to_time.strftime('%A %b %Y') %>
      </p>
    <p class='lead'> <%= @side_trip.description %></p>
    <p> <%= link_to "Chat", @side_trip.chat_room, class: 'btn btn-secondary'%></p>
  </div>
  <% if @side_trip.creator == current_user %>
    <div>  <%= link_to "Delete", side_trip_path(@side_trip), method: "delete" %> </div>
  <% end %>
</div>
<ul class="nav nav-pills nav-justified cohort-links">
  <li class="nav-item">
    <%= link_to "Travel Plans",  side_trip_transits_path(@side_trip), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Accomodations", side_trip_lodgings_path(@side_trip), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Gallery", side_trip_photos_path(@side_trip), class: 'nav-link' %>
  </li>
</ul>
<div class='container'>
<div class="row">
  <%= render '/side_trips/_partials/join_button' %>
</div>
<div class='row'>
  <div class='col-md-3'>
    <%= render '/side_trips/_partials/side_trip_users_list' %>
  </div>
  <div class='col-md-6 text-center'>
    <%= render 'posts/form'%>
    <%= render 'posts/feed' %>
  </div>
  <div class='col-md-3'>
    <%= link_to "Add Event", new_side_trip_event_path(@side_trip), class: 'btn btn-primary btn-block' %>
    <%= render 'side_trips/_partials/events_list' %>
  </div>
</div>

<%= link_to 'Edit', edit_side_trip_path(@side_trip) %> |
<%= link_to 'Back', side_trips_path %>
</div>




