<li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.gravitar_url, class: "user-image" unless current_user.nil?%>
            <span class="hidden-xs"><%= current_user.name unless current_user.nil? %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag current_user.gravitar_url, class: "img-circle" unless current_user.nil?%>

              <p>
                <%= current_user.name unless current_user.nil?  %>
                <small>Member since <%= current_user.created_at.strftime("%B, %Y") unless current_user.nil?  %></small>
              </p>
            </li>

            <li class="user-footer">
              <div class="pull-left">
                <%= link_to 'Profile', show_user_path(current_user), class: 'btn btn-default -btn-flat' unless current_user.nil? %>
              </div>
              <div class="pull-right">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' unless current_user.nil? %>
              </div>
            </li>
          </ul>
        </li>
