 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center"><%= @organization.name %> Dashboard</h1>
    <% if current_user.is_org_admin || (current_user.is_cohort_admin && current_user.cohorts.include?(@cohort)) %>
      <%= link_to "Manage", edit_organization_cohort_path(@organization, @cohort)%>
    <% end %>
    <p class="lead text-center">
    </p>
  </div>
</div>


<div class=''>
<% if current_user.is_org_admin || current_user.is_cohort_admin %>
  <div class='row'>
    <div class='col-md-6'>
       <%= render 'admin/partials/dashboard/cohort_selection' %>
    </div>
    <div class='col-md-6'>
      <%= render 'shared/invites/invite_form' %>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    <%= render 'admin/partials/dashboard/events'%>
  </div>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
     <%= render 'admin/partials/dashboard/housing'%>
   </div>
</div>
<br>
<div class='row'>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    <%= render 'admin/partials/dashboard/travel_plans'%>
  </div>
  <div class='col-md-6'>
    <div class='row' style='max-height: 300px; overflow: auto'>
      <%= render 'admin/partials/dashboard/tracks'%>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    <%= render 'admin/partials/dashboard/tickets'%>
  </div>
  <div class='col-md-6'>
    <div class='row' style='max-height: 300px; overflow: auto'>

    </div>
  </div>
</div>
</div>
