 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center"><%= @organization.name %> Dashboard</h1>
    <% if current_user.is_site_admin || (current_user.is_cohort_admin && current_user.cohorts.include?(@cohort)) %>
      <%= link_to "Manage", edit_organization_cohort_path(@organization, @cohort)%>
    <% end %>
    <p class="lead text-center">
    </p>
  </div>
</div>


<div class=''>
<% if current_user.is_site_admin %>
  <div class='row'>
    <div class='col-md-6'>
       <%= render 'admin/partials/dashboard/cohort_selection' %>
    </div>
    <div class='col-md-6'>
      <%= render 'shared/invites/invite_form' %>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    <h6>Events (scroll list)</h6>
    <%= render 'admin/partials/dashboard/events'%>
  </div>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    <h6>Housing (scroll list)</h6>
     <%= render 'admin/partials/dashboard/housing'%>
   </div>
</div>
<div class='row'>
  <div class='col-md-6' style='max-height: 300px; overflow: auto'>
    Travel Plans (scroll list)
    <%= render 'admin/partials/dashboard/travel_plans'%>
  </div>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-6'>Tracks (scroll list)</div>
      <div class='col-md-6'>
        <%= link_to "Add Track", new_track_path %>
      </div>
    </div>
    <div class='row' style='max-height: 300px; overflow: auto'>
      <%= render 'admin/partials/dashboard/tracks'%>
    </div>
  </div>
</div>
</div>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Responsive Hover Table</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-success">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-primary">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-danger">Denied</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
