<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">My Itinerary</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>Location</th>
            <th>View</th>
            <th>Add To Cal</th>
          </tr>
          <% @itinerary_items.each  do |ii| %>
            <tr>
              <td><%= ii.date.to_time.strftime('%a %b %e %Y') %></td>
              <td>
                <% unless ii.time.nil? %>
                   <%= ii.time.to_formatted_s(:time)  %>
                <% end %>
              </td>
              <td><%= ii.title %></td>
              <td><%= ii.location %></td>
              <td><%= link_to "View Details", ii.link, class: 'btn btn-primary' %></td>
              <td><%= render 'shared/itinerary_item_add_to_cal', ii: ii %></td>
            </tr>
          <% end %>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>


<script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

