<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @applicant.phone %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @applicant.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @applicant.linkedin %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @applicant.instagram %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @applicant.job_title %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @applicant.company_name %>
</p>

<p>
  <strong>Is remote:</strong>
  <%= @applicant.is_remote %>
</p>

<p>
  <strong>Description:</strong>
  <%= @applicant.description %>
</p>

<p>
  <strong>Why me:</strong>
  <%= @applicant.why_me %>
</p>

<p>
  <strong>Current city:</strong>
  <%= @applicant.current_city %>
</p>

<p>
  <strong>Is traveling:</strong>
  <%= @applicant.is_traveling %>
</p>

<p>
  <strong>Best travel experience:</strong>
  <%= @applicant.best_travel_experience %>
</p>

<p>
  <strong>Years in profession:</strong>
  <%= @applicant.years_in_profession %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @applicant.contact_method %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @applicant.whatsapp %>
</p>

<p>
  <strong>Favorite country:</strong>
  <%= @applicant.favorite_country %>
</p>

<p>
  <strong>Favorite city:</strong>
  <%= @applicant.favorite_city %>
</p>

<p>
  <strong>Best project:</strong>
  <%= @applicant.best_project %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
