  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="<%= @user.gravitar_url%>" alt="User profile picture">

      <h3 class="profile-username text-center"><%= @user.safe_name%></h3>

      <p class="text-muted text-center"><%= @user.profile.job_title %></p>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Org:</b> <%= @user.organization.name %>
        </li>
        <li class="list-group-item">
          <b>Cohort: </b>
          <% if @user.current_cohort %>
           <%= @user.current_cohort.name %>
          <% end %>
        </li>
        <li class="list-group-item">
          <b>Current City:</b>
            <%= @user.current_cohort_city%>
        </li>
      </ul>
      <% if @user.id ==  current_user.id %>
       <%= link_to "Edit Profile", edit_profile_path(@user.profile), class: 'btn btn-primary btn-block' %>
      <%end%>

    </div>
    <!-- /.box-body -->
  </div>
