<li>
<% if notification.notification_type == "Chat" %>
  <% chat_room = ChatRoom.find(notification.notification_obeject_id) %>
  <%= link_to chat_room  do %>
    <%= chat_room.title %> Has A New Message
  <% end %>
<% elsif notification.notification_type == "Event" %>
  <% event = Event.find(notification.notification_obeject_id)%>
  <% cohort = Cohort.find(event.cohort.id) %>
  <%= link_to event_path(event) do %>
    <%= event.title %> was created in <%= event.cohort.name%>
  <% end %>
<% elsif notification.notification_type == "Side Trip" %>
  <% side_trip = SideTrip.find(notification.notification_obeject_id) %>
  <% cohort = Cohort.find(side_trip.cohort.id)%>
  <%= link_to cohort_side_trip_path(cohort, side_trip) do %>
    <%= side_trip.title %> was created in <%= side_trip.cohort.name%>
  <% end %>
<% end %>
</li>
