<%= link_to 'New Travel Plan', new_transit_path %>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Travel Plans</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody><tr>
        <th>Date</th>
        <th>Departure time</th>
        <th>Title</th>
        <th>Travel type</th>
        <th>Company</th>
        <th>Route number</th>
        <th>Departure location</th>
        <th>Departure map</th>
        <th>Arrival location</th>
        <th>Arrival time</th>
        <th colspan="3"></th>
      </tr>
      <% @transits.each do |transit| %>
        <tr>
          <td><%= transit.date.to_time.strftime('%A %b %d %Y') %></td>
          <td><%= transit.departure_time.strftime('%I %P') unless transit.departure_time.nil? %></td>
          <td><%= transit.title %></td>
          <td><%= transit.travel_type %></td>
          <td><%= transit.company.name unless transit.company.nil? %></td>
          <td><%= transit.route_number %></td>
          <td><%= transit.departure_location.name %></td>
          <td><%= transit.departure_map %></td>
          <td><%= transit.arrival_location.name %></td>
          <td><%= transit.arrival_time.strftime('%I %P') unless transit.arrival_time.nil? %></td>
          <td><%= link_to 'Show', transit %></td>
          <td><%= link_to 'Edit', edit_transit_path(transit) %></td>
          <td><%= link_to 'Destroy', transit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
</div>
