<link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
<span class="addtocalendar atc-style-blue">
<a class="atcb-link" tabindex="1" id="atc_btn_blue_link">Add to Calendar</a>
  <var class="atc_event">
      <var class="atc_date_start" style='visibility: hidden;'><%=ii.date.to_time %></var>
      <var class="atc_date_end" style='visibility: hidden;'><%=ii.date.to_time %></var>
      <var class="atc_timezone" style='visibility: hidden;'>
        Pacific/Midway
      </var>
      <var class="atc_title" style='visibility: hidden;'><%= ii.title %></var>
      <var class="atc_description" style='visibility: hidden;'><%= ii.description %></var>
      <var class="atc_location" style='visibility: hidden;'><%= ii.location %></var>
      <var class="atc_organizer" style='visibility: hidden;'><%= current_user.safe_name %></var>
      <var class="atc_organizer_email" style='visibility: hidden;'><%= current_user.email %></var>
  </var>
</span>
