<div class="jumbotron">
  <div class="container text-center">
    <% if params[:track_id] %>
       <h1 class="display-3"><%= @track.name %> Events </h1>
       <p></p>
    <% else %>
      <h1 class="display-3">Events</h1>
    <% end %>
  </div>
</div>

<ul>
<% @events.each  do |event| %>
  <li class='list-group-item list-group-item-action'>
  <div class='row'>
    <div class='col-md-2'>
      <%= event.date.to_time.strftime('%a %b %e %Y') %>
      <% unless event.start_time.nil? %>
         <%= event.start_time.to_s(:time) %>
      <% end %>
    </div>
    <div class='col-md-2'>
     <%= event.title %>
    </div>
    <div class='col-md-6'>
      <h6> <%= event.description %> </h6>
    </div>
    <div class='col-md-2'>
      <%= link_to "View Details", event_path(event), class: 'btn btn-primary' %>
    </div>
  </div>
  </li>
<% end %>
<ul>

<% if params[:track_id] %>
<%= link_to 'New Track Event', new_track_event_path %>

<% else %>
<%= link_to 'New Event', new_event_path %>
<% end %>

