<%= content_for(:body_attributes, 'data-no-turbolink') %>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container text-center"> -->
    <h1 class="display-3"><%= @event.title %></h1>
    <h3 class='dispaly-3'><%= @event.location.name %></h3>
    <p class="lead"><%= @event.date.to_time.strftime('%A %b %d %Y') %>:
        <% unless @event.start_time.nil? %>
          <%= @event.start_time.strftime('%I %P') %>
        <% end %>
        -
        <% unless  @event.end_time.nil?  %>
          <%= @event.end_time.strftime('%I %P') %>
        <% end %>
    </p>
    <p class='lead'><%= @event.description %></p>
    <p> <%= link_to "Chat", @event.chat_room, class: 'btn btn-secondary'%></p>
<!--   </div>
</div> -->
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="row">
        <h4 class='text-left'> $<%= @event.cost %> </h4>
      </div>
      <div class='row text-left'>
        <strong>Capacity:</strong>
        <%= @event.capacity %>
      </div>
      <div class='row'>
        <strong>Meeting point:</strong>
        <%= @event.meeting_point %>
      </div>
      <div>
        <%= link_to "Add Images", new_event_photo_path(@event), class: 'btn btn-primary'%>
        <%= render 'shared/events/event_image_thumbs' %>
      </div>
    </div>
    <!-- Details and Comments -->
    <div class='col-md-6 text-center'>

        <%= render 'event_comments/form'%>
        <div class='text-left' style="background-color: white">
        <%= render 'event_comments/event_comments_widget'%>
        </div>

    </div>
    <!-- End Details and Comments -->
    <!-- RSVPs  -->
    <div class='col-md-3'>
      <% rsvp = current_user.event_rsvps.where(event_id: @event.id).first %>
      <% space_available = true %>
      <% space_available = (@event.capacity > @event.event_rsvps.count) unless @event.capacity.nil? %>
      <% if rsvp.nil? && space_available %>
        <%= button_to "RSVP", event_event_rsvps_path(@event), class:"btn btn-success", style:"", method: :post,  params: {:event_rsvp => {user_id: current_user.id, event_id: @event.id}} %>
      <% elsif rsvp.nil? %>
        <% unless current_user.is_on_waitlist(@event) %>
          <%= link_to "Join Waitlist", event_waitlist_add_user_path(@event, current_user), class: 'btn btn-warning'  %>
        <% else %>
          <%= link_to "Leave Waitlist", event_waitlist_remove_user_path(@event, current_user), class: 'btn btn-warning'  %>
        <% end %>
      <% else %>
        <% if rsvp.is_paid %>
          <%= link_to 'Paid', "#",  class: 'btn btn-success btn-block disabled' %>
        <% else %>
          <% if @event.track.nil? || (@event.track.users.include?(current_user) == false) %>
          <%= render 'events/partials/event_payment' %>
          <% end %>
        <% end %>
        <%= link_to 'Cancel RSVP', event_event_rsvp_path(@event, rsvp), { :method => :delete,  class: 'btn btn-warning btn-block'}%>
      <% end %>
      <hr>
      <p> <strong> RSVP'd </strong></p>
      <hr>
      <%= render 'event_rsvps/event_rsvps_widget' %>
    </div>
    <!-- End RSVPs -->
  </div>
</div>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
