<%= content_for(:body_attributes, 'data-no-turbolink') %>
<section class="content">

<div class="row">
  <div class="col-md-3">

    <!-- Profile Image -->
    <%= render 'events/partials/event_details_box'%>
    <!-- /.box -->

    <!-- About Me Box -->
    <div class="box box-primary">
      <%= render 'events/partials/event_about_box'%>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>
        <li class=""><a href="#photos" data-toggle="tab" aria-expanded="false">Photos</a></li>
       <li class=""><a href="#manage" data-toggle="tab" aria-expanded="false">Settings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="activity">
          <%= render 'event_comments/form'%>
          <div class='text-left' style="background-color: white">
          <%= render 'event_comments/event_comments_widget'%>
          </div>
        </div>
        <div class="tab-pane" id="photos">
          <%= link_to "Add Images", new_event_photo_path(@event), class: 'btn btn-primary'%>
          <%= render 'shared/events/event_image_thumbs' %>
        </div>
        <div class="tab-pane" id="manage">
         <%= render 'shared/events/city_manager.html.erb' %>
        </div>
    </div>
  </div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
