<div class='container'>
  <div class='row'>
    <i class='fa fa-desktop'></i>: <%= @user.profile.website %>
  </div>
  <div class='row'>
    <i class='fa fa-phone'></i>: <%= @user.profile.phone_number %>
  </div>
  <div class='row'>
    <i class='fa fa-whatsapp'></i> <%= @user.profile.whatsapp %>
  </div>
  <div class='row'>
    <i class='fa fa-facebook'></i> <%= @user.profile.facebook %>
  </div>
  <div class='row'>
    <i class='fa fa-instagram'></i> <%= @user.profile.instagram %>
  </div>
  <div class='row'>
    <i class='fa fa-snapchat'></i> <%= @user.profile.snapchat %>
  </div>
</div>
