<%= form_with(model: location_detail, local: true, url: location_location_details_path(@location, @location_detail)) do |form| %>
  <% if location_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location_detail.errors.count, "error") %> prohibited this location_detail from being saved:</h2>

      <ul>
      <% location_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :location_detail_location_id, :value => "#{@location.id}", :readonly => true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <div class="field">
      <label class='fa fa-camera fa-2x' style='vertical-align: middle;'>
        <%= form.file_field :image, id: :location_detail_image, style: 'display:none;' %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :location_detail_description, class: 'form-control' %>
  </div>

  <%= hidden_field_tag :organization_id, current_user.organization_id %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
