<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     <label class='btn btn-primary btn-block'>
        Select Picture
        <%= form.file_field :picture, id: :picture, style: 'display:none;' %>
        <%= form.hidden_field :picture_cache %>
        </label>
  </div>

  <div class="form-group">
    <%= form.label :caption %>
    <%= form.text_area :caption, id: :photo_caption, class: 'form-control' %>
  </div>

  <% if params[:event_id]%>
    <%= form.hidden_field :event_id, :value => params[:event_id] %>
  <% end %>

  <div class="actions">
    <%= form.submit "Save Picture" %>
  </div>
<% end %>
<%= @photo.picture %>

