

<% @event.event_comments.each do |comment| %>
<div class="post">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="<%= comment.user.gravitar_url %>" alt="user image">
        <span class="username">
          <%= link_to show_user_path(comment.user) do %>
            <%= comment.user.safe_name%>
          <% end %>
        </span>
    <span class="description"><%= time_ago_in_words(comment.created_at) %> ago</span>
  </div>
  <!-- /.user-block -->
  <div style='padding-left:12px'>
     <%= auto_html(comment.comment.html_safe){ image(:width => '100%'); youtube(:width => '100%', :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %>
    </div>
</div>

<% end %>

