<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Post</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <%= form_with(model: @event_comment, local: true, url: event_event_comments_path(@event, @event_comment), class: "form-horizontal") do |form| %>
    <div class="box-body">
      <div class="form-group">
        <div style="padding:12px;">
        <%= form.text_area :comment, id: :event_comment_comment, class: 'form-control', placeholder: 'What do you think about this?' %>
        </div>
      </div>
    </div>
    <%= form.hidden_field :event_id, :value => @event.id%>
    <%= form.hidden_field :user_id, :value => current_user.id%>
    <%= form.hidden_field :cohort_id, :value => @event.cohort.id%>
    <!-- /.box-body -->
    <div class="box-footer">
      <%= form.submit class: 'btn btn-primary btn-block' %>
    </div>
    <!-- /.box-footer -->
  <% end %>
</div>
