<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_comment.event %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @event_comment.cohort %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_comment.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @event_comment.comment %>
</p>

<%= link_to 'Edit', edit_event_comment_path(@event_comment) %> |
<%= link_to 'Back', event_comments_path %>
