<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <% if @cohort %>
      <%= form.hidden_field :cohort_id, :value => @cohort.id %>
    <% elsif @event %>
      <%= form.hidden_field :event_id, :value => params[:id] %>
    <% elsif @side_trip %>
      <%= form.hidden_field :side_trip_id, :value => params[:id] %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, id: :post_content, placeholder: 'add post', class: 'form-control' %>
    <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>



  <div class="actions">

  </div>
<% end %>
