<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :location_name %>
  </div>

  <div class="form-group">
    <%= form.label :location_type %>
    <%= form.select 'location_type', options_for_select(['Region', 'Country', 'City']), {},
    {:multiple => false, class: 'form-control'}%>
  </div>


  <div class="field">
    <%= form.label :parent_id %>
    <%= form.select 'parent_id', options_for_select(
      Location.where.not(location_type: 'city').map {|l| [l.name, l.id]}), {},
    {:multiple => false, class: 'form-control'}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
