<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3"><%= @location.name %></h1>
    <% unless @location.parent.nil? %>
      <p class="lead">
         <%= @location.parent.name %>
      </p>
      <p> <%= link_to "Chat", @location.chat_room, class: 'btn btn-secondary'%></p>
    <% end %>
  </div>
</div>
<div class='container text-center'>
  <% if current_user.is_admin %>
    <div class='row'>
      <div class='col-md-3'>
        <% if @location_details.nil? %>
          <%= link_to "Add Details", new_location_location_detail_path(@location) %>
        <% else %>
          <%= link_to "Edit Details", edit_location_location_detail_path(@location_details) %>
        <% end %>
      </div>
      <div class='col-md-9'>

      </div>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <% unless @location.location_detail.nil? %>
        <%= @location.location_detail.description%>
      <% end %>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
