<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>TheTowel</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag "jquery_init" %>
    <%= stylesheet_link_tag 'solidstate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'solidstate', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="page-wrapper">
      <%= render 'shared/solidstate/header' %>
      <%= yield %>
    </div>
  </body>

  <script type="text/javascript">


  </script>
</html>
